*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background: #f4f7f8;
    color: #333;
    line-height: 1.6;
    max-width: 900px;
    padding:20px;
    margin:0 auto;
}

nav {
    display: flex;
    Justify-content: space-between;
    align-items:center;
    background-color: #222222; /* Dark grey background*/
    color: #FFFFFF;            /* Text color*/
    padding: 15px 40px;
    position: relative;
    top: 0;
    font-family: 'Arial', sans-serif
}

/* Logp styling (My name) */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing:1px;
}

/* Navigation list */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    
}
/* Navigatin links*/
.nav-links a {
    color: #FFFFFF; /* White links */
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

/* Hover effect */
.nav-links a:hover {
    color: #ff9800;     /* Orange accent on hover */
}
nav ul {
    list-style: none;
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
     
}

nav li {
    margin: 10px 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight:bold;
    padding: 10px 15px;
    border-radius:5px;
    transition: background;
}
header{
    text-align:center;
    padding-bottom: 30px;

}

header{
    text-align: center;
    padding-bottom: 30px;

}
header h1{
    font-size: 2.5em;
    margin: bottom 10px;
    color: #2c3e50;

}

header p {
    font-size: 1.2rem;
    color:#555;
}

section{
    background: white;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}

section h2 {
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 8px;
    margin-bottom: 15px;
    color:#2c3e50

}

ul{
    list-style-type: none;
    padding-left: 0;
}

ul li{
    margin-bottom: 10px;

}

a{
    color: #2980b9;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    color: #777;
}
